
<app-header></app-header>
<main>
  <ul id="users">
    <!-- <li>
      <app-user [id]="users[0].id" [avatar]="users[0].avatar" [name]="users[0].name" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [id]="users[1].id" [avatar]="users[1].avatar" [name]="users[1].name" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [id]="users[2].id" [avatar]="users[2].avatar" [name]="users[2].name" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [id]="users[3].id" [avatar]="users[3].avatar" [name]="users[3].name" (select)="onSelectUser($event)"></app-user>
    </li> -->

    <!--access the name, id and avatar using [user] directly-->
    <!-- <li>
      <app-user [user]="users[0]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)"></app-user>
    </li> -->

    <!--using for loop to fetch the list of users-->
    @for(user of users; track user.id)
    {
      <li>
        <app-user [user]="user" (select)="onSelectUser($event)"></app-user>
      </li>
    }
  </ul>

  <!--using if to check if the selectedUserId exists otherwise display a fallback text initially when the page is loaded-->
  @if(selectedUserId)
  {
    <app-tasks [id]="selectedUserId" [name]="username" (select)="onSelectUser($event)"></app-tasks>
  } @else {
    <p id="fallback">Select a user to see their tasks!</p>
  }
  
</main>
<router-outlet />
